version: '3.8'

services:
  db:
    image: postgres:14-alpine  
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/ 
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=PgAdmin
    ports:
      - "5433:5432"

  web:
    build: .
    container_name: django_web
    volumes:
      - .:/app  
    ports:
      - "8000:8000" 
    environment:
      - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASS=PgAdmin
      - DB_HOST=db       
      - DB_PORT=5432
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web

volumes:
  postgres_data: